@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color:#f2f4f3;
    font-family: "Scheherazade New", sans-serif;
}

.brand-logo {
    margin-left: 10px;
}

/* Register page flash message */ 

.flashes {
    line-height: 4;
}

